---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import { getPermalink } from '~/utils/permalinks';

const metadata = {
  title: 'AstroWind — Free template for creating websites with Astro + Tailwind CSS',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Contact us',
        href: getPermalink('/contact'),
        target: '_blank',
        icon: 'tabler:phone',
      },
      { text: 'Learn more', href: '#features' },
    ]}
    image={{ src: '~/assets/images/hero-image.png', alt: 'AstroWind Hero Image' }}
  >
    <Fragment slot="title"> Critical Systems Analysis </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">CSA</span> ensures you maintain your high speed of production while keeping your machines
        safe from whatever can damage machines. Like a machine killing machine.</span
      >
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <Features
    id="features"
    title="What you get with CSA"
    subtitle="Experts in functional safety"
    items={[
      {
        title: 'Safety and Security',
        description: 'Your systems are safe with us',
        icon: 'tabler:brand-tailwind',
      },
      {
        title: 'RAM',
        description: 'RAM? Like for a computer?',
        icon: 'tabler:components',
      },
      {
        title: 'Threat and Vulnerability',
        description: 'We are the threat. You are vulnerable',
        icon: 'tabler:list-check',
      },
      {
        title: 'Systems Engineering',
        description: 'Not only will we engineer systems',
        icon: 'tabler:rocket',
      },
      {
        title: 'Systems Assurance',
        description: 'We will also assure them',
        icon: 'tabler:arrows-right-left',
      },
      {
        title: 'Monitoring',
        description: 'Through your window',
        icon: 'tabler:bulb',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    title="Making safety more accessable"
    items={[
      {
        title: 'Reduced cost',
        description: 'So cheap',
      },
      {
        title: 'Timelines',
        description: 'So fast',
      },
      {
        title: 'Clear deliverables',
        description: "Lorem ipsum. Is that even a word? I don't know Latin",
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Building on modern foundations</h3>
      Gain a competitive advantage by incorporating industry leading practices
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Steps Widget ****************** -->

  <Steps
    title="How CSA will take your operations to the next level"
    items={[
      {
        title: 'Step 1: <span class="font-medium">Contact us</span>',
        description: 'Reach out to our friendly service reps',
        icon: 'tabler:package',
      },
      {
        title: 'Step 2: <span class="font-medium">Explore our services</em>',
        description:
          'Our reps will work to find the best options available to your organization to bring your operations to the next level.',
        icon: 'tabler:letter-case',
      },
      {
        title: 'Step 3: <span class="font-medium">Receive your customized plan</span>',
        description: 'Not really sure what you do but idk maybe Ben DMs you with a spreadsheet or something.',
        icon: 'tabler:paint',
      },
      {
        title: 'Profit',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      alt: 'Steps image',
    }}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Why CSA?',
        description:
          "Michael Knight a young loner on a crusade to champion the cause of the innocent. The helpless. The powerless in a world of criminals who operate above the law. Here he comes Here comes Speed Racer. He's a demon on wheels.",
      },
      {
        title: 'What do I need to start?',
        description:
          'Space, the final frontier. These are the voyages of the Starship Enterprise. Its five-year mission: to explore strange new worlds. Many say exploration is part of our destiny, but it’s actually our duty to future generations.',
      },
      {
        title: 'How quick does it take to implement our solutions?',
        description:
          "Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows.",
      },
      {
        title: 'How much can we expect to save?',
        description:
          "A flower in my garden, a mystery in my panties. Heart attack never stopped old Big Bear. I didn't even know we were calling him Big Bear.",
      },
      {
        title: 'Why do I have so many nightmares?',
        description:
          "A business big enough that it could be listed on the NASDAQ goes belly up. Disappears! It ceases to exist without me. No, you clearly don't know who you're talking to, so let me clue you in.",
      },
      {
        title: 'If you could only ask one question to each person you meet, what would that question be?',
        description:
          "This is not about revenge. This is about justice. A lot of things can change in twelve years, Admiral. Well, that's certainly good to know. About four years. I got tired of hearing how young I looked.",
      },
    ]}
  />

  <!-- Stats Widget ****************** -->

  <Stats
    stats={[
      { title: 'Customers', amount: '55' },
      { title: 'Cost saved each project', amount: '$24.8K' },
      { title: 'Engineers', amount: '10' },
      { title: "Hayden's", amount: '1' },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Contact us',
        href: getPermalink('/contact'),
        target: '_blank',
        icon: 'tabler:phone',
      },
    ]}
  >
    <Fragment slot="title">
      <span class="sm:whitespace-nowrap">Start optimizing today</span>
    </Fragment>

    <Fragment slot="subtitle"> Find out just how much happier you can make your mothers </Fragment>
  </CallToAction>
</Layout>
